:root {
  /* Colors: */
  --color-navbar: #242321;
  --color-black: #030303;
  --color-footer: #888888;
  --color-logo: #acacac;
  --color-white: #ffffff;
  --color-bg:#F5F5F5;
  --color-remove: #dc3545;
}
@font-face {
  font-family: "Ithra-Light";
  src: url("../src/assets/fonts/Ithra-Light.eot");
  src: url("../src/assets/fonts/Ithra-Light.eot?#iefix")
      format("embedded-opentype"),
    url("../src/assets/fonts/Ithra-Light.woff2") format("woff2"),
    url("../src/assets/fonts/Ithra-Light.woff") format("woff"),
    url("../src/assets/fonts/Ithra-Light.ttf") format("truetype"),
    url("../src/assets/fonts/Ithra-Light.svg#svgFontName") format("svg");
  font-display: swap;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ithra-Light";
}
body {
  direction: rtl;
  overflow-x: hidden;
  background-color: var(--color-bg);
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
input,
textarea,
select {
  outline: none;
}
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1240px;
  width: 100%;
  /* padding-left: 10px;
  padding-right: 10px; */
}
.container-less {
  margin-left: 150px;
  margin-right: 150px;
  max-width: 1240px;
  width: 100%;
  /* padding-left: 10px;
  padding-right: 10px; */
  /* background-color: #acacac; */
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.rounded{
  border-radius: 50%;
}
.flex{
  display: flex;
}
.remove:hover {
  background-color: var(--color-remove) !important;
  /* box-shadow: 0px 3px 12px var(--color-remove) !important; */
}
.font-thin{
  font-weight: 500;
}
.font-sans{
  font-family: sans-serif;
  font-weight: 500;
}

.ml-3{
  margin-left: 3px;
}

@media screen and (max-width:1000px) {
  .container-less {
    margin-left: 20px;
    margin-right: 20px;
    max-width: 1240px;
    width: 100%;
    /* padding-left: 10px;
    padding-right: 10px; */
    /* background-color: #acacac; */
  }
}