.offers{
    margin-top: 30px;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;

}
.offers h1{
    margin-bottom: 30px;
}
.all-cards{
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
}